@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Bangers&family=Fredoka+One&family=Manuale:wght@500&family=Patua+One&family=Piedra&display=swap');

.card-caro{
    background-color: rgb(242, 251, 251);
    font-family: 'Patua One', cursive;
    
    
}